// BASE
@use "base/global.scss";
@use "base/layout.scss";
@use "base/typography.scss";
@use "base/variables.scss";

// BLOC
@use "bloc/header.scss";
@use "bloc/footer.scss";

// COMPONENTS
@use "components/button.scss";

// PAGES
@use "pages/about.scss";
@use "pages/home.scss";
@use "pages/projects.scss";

// UTILITIES
