.hero {
    &__wrapper {
        background-color: url("../../media/img/bg-hero.svg");
        margin-block: calc(var(--spacing) * 16);
        margin-inline: auto;
        max-width: 1440px;
        border: 1px solid black;
        border-radius: calc(var(--spacing) * 5);

        padding-block: calc(var(--spacing) * 16);
        padding-inline: calc(var(--spacing) * 10);
    }
}
