.btn {
    width: 100%;
    color: var(--color-gray-50);
    background-color: var(--color-electric-blue-600);

    padding: 16px 32px;
    border: 2px solid var(--color-electric-blue-600);
    border-radius: 10px;

    cursor: pointer;
    box-shadow: var(--shadow-3);
    transition: var(--transition);

    &:hover {
        background-color: var(--color-gray-50);
        color: var(--color-electric-blue-700);
        border-color: var(--color-electric-blue-700);
    }

    &__icon {
        padding: 0;
        width: 32px;
        height: 32px;
        border: none;
        background-color: transparent;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        cursor: pointer;
    }
}

@media (min-width: 768px) {
    .btn {
        width: fit-content;
    }
}
