.ui-section {
    width: 100%;
    max-width: 1280px;
    margin-inline: auto;
}

.glass-section {
    backdrop-filter: blur(8px) saturate(173%);
    -webkit-backdrop-filter: blur(8px) saturate(173%);
    background-color: rgba(17, 25, 40, 0.2);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
