.hero {
    &__wrapper {
        color: var(--color-gray-50);
        // background: url("../../assets/media/img/hero-pattern.svg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        margin-inline: auto;

        overflow: hidden;

        padding-block: clamp(2rem, 1.684rem + 1.579vi, 4rem);
        padding-inline: clamp(1rem, 0.737rem + 1.316vi, 2rem);

        display: flex;
        align-items: center;
        justify-content: center;
        gap: calc(var(--spacing) * 12);
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: calc(var(--spacing) * 12);
        padding-block: clamp(2rem, 1.684rem + 1.579vi, 4rem);
        padding-inline: clamp(1rem, 0.737rem + 1.316vi, 2rem);
        border-radius: calc(var(--spacing) * 3);
        background: #3385ff95;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: 1px solid rgba(255, 255, 255, 0.2);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);

        p {
            color: var(--color-gray-600);
            max-width: 800px;
            margin-top: calc(var(--spacing) * 6);
        }

        .btn {
            text-decoration: none;
            position: relative;
            z-index: 1;
            margin-top: calc(var(--spacing) * 16);
        }
    }

    &__content {
        max-width: 100%;
    }

    &__image {
        width: 350px;
        height: 350px;
        flex-shrink: 0;

        overflow: hidden;
        border-radius: calc(var(--spacing) * 5);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
