.hero {
    &__wrapper {
        color: black;
        // background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' viewBox='0 0 800 800' width='800' height='800'%3E%3Cdefs%3E%3Cpattern id='mmmotif-pattern' width='40' height='40' patternUnits='userSpaceOnUse' patternTransform='translate(0 0) scale(1) rotate(45) skewX(0) skewY(0)'%3E%3Cpath d='M9.38965 21.1608L9.38979 12.1609L15.7596 15.8408L12.2967 22.8196L9.38965 21.1608Z' fill='%235e7dff'%3E%3C/path%3E%3Cpath d='M9.38965 28.5108L9.38979 19.5107L13.6396 21.9608L13.64 30.9608L9.38965 28.5108Z' fill='%235e7dff'%3E%3C/path%3E%3Cpath d='M13.6401 30.9608V21.9608L20.0001 18.2808V27.2808L13.6401 30.9608Z' fill='%23002a9c'%3E%3C/path%3E%3Cpath d='M20 27.2808V18.2808L26.36 21.9608V30.9608L20 27.2808Z' fill='%235e7dff'%3E%3C/path%3E%3Cpath d='M26.3599 30.9608V21.9607L30.6099 19.5107L30.61 28.507L26.3599 30.9608Z' fill='%23002a9c'%3E%3C/path%3E%3Cpath d='M30.6102 21.1634V12.1609L24.2402 15.8408L27.6992 22.8391L30.6102 21.1634Z' fill='%23002a9c'%3E%3C/path%3E%3Cpath d='M13.6359 9.71299L9.39326 12.1623L15.7572 15.8362L9.39326 19.5101L13.6359 21.9594L19.9999 18.2855L26.3638 21.9594L30.6065 19.5101L24.2425 15.8362L30.6065 12.1623L26.3638 9.71299L19.9999 13.3869L13.6359 9.71299Z' fill='%230251ce'%3E%3C/path%3E%3C/pattern%3E%3C/defs%3E%3Crect width='800' height='800' fill='url(%23mmmotif-pattern)'%3E%3C/rect%3E%3C/svg%3E");

        margin-inline: auto;
        border-bottom: 1px solid black;

        overflow: hidden;

        // 16 - 32
        padding-block: clamp(1rem, 0.342rem + 3.289vi, 3.5rem);
        padding-inline: clamp(1rem, 0.737rem + 1.316vi, 2rem);
        // padding-block: calc(var(--spacing) * 20);

        display: flex;
        align-items: center;
        justify-content: center;
        gap: calc(var(--spacing) * 12);
    }

    &__container {
        display: flex;
        align-items: center;

        gap: calc(var(--spacing) * 12);

        padding: calc(var(--spacing) * 6);

        p {
            margin-top: calc(var(--spacing) * 2);
        }

        .btn {
            margin-top: calc(var(--spacing) * 10);
        }
    }

    &__content {
        max-width: 700px;
    }

    &__image {
        width: 350px;
        height: 350px;
        flex-shrink: 0;

        overflow: hidden;
        border-radius: calc(var(--spacing) * 5);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
