.projects {
    &__wrapper {
        padding-block: clamp(2rem, 1.684rem + 1.579vi, 4rem);
        padding-inline: clamp(1rem, 0.737rem + 1.316vi, 2rem);
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: calc(var(--spacing) * 12);
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: calc(var(--spacing) * 8);
    }
}

.project {
    &__card {
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        border-radius: calc(var(--spacing) * 3);
        overflow: hidden;
    }

    &__image {
        width: 100%;
        height: 200px;
        background-color: var(--color-gray-200);
    }

    &__content {
        padding: calc(var(--spacing) * 6);
        display: flex;
        flex-direction: column;
        gap: calc(var(--spacing) * 2);
    }

    &__description {
        margin-top: calc(var(--spacing) * 2);
    }
}

