.projects {
    &__wrapper {
        padding-block: clamp(2rem, 1.684rem + 1.579vi, 4rem);
        padding-inline: clamp(1rem, 0.737rem + 1.316vi, 2rem);
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: calc(var(--spacing) * 12);

        h2 {
            text-align: center;
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: calc(var(--spacing) * 8);

        @media (min-width: 992px) {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

.project {
    &__card {
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        border-radius: calc(var(--spacing) * 3);
        overflow: hidden;
        box-shadow: var(--shadow-3);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        will-change: transform;
        text-decoration: none;
        color: inherit;

        &:hover {
            transform: scale(1.03);
            box-shadow: var(--shadow-9);
        }
    }

    &__image {
        width: 100%;
        height: 200px;
        background-color: var(--color-gray-200);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            aspect-ratio: 16/9;
        }
    }

    &__content {
        padding: calc(var(--spacing) * 6);
        display: flex;
        flex-direction: column;
        gap: calc(var(--spacing) * 2);
        backdrop-filter: blur(5px);
    }

    &__description {
        margin-top: calc(var(--spacing) * 2);
    }
}
